@import url('https://fonts.googleapis.com/css?family=Raleway');

#hitravel{
	background-color:#2f3238 !important;
	padding: 3rem;
	
}

.text-faded-convince{
	color: #fff;
	font-family: 'Raleway', sans-serif;
	
	
}
.section-heading-texthi{
color: white;
font-family: 'Raleway', sans-serif;
font-size: 3rem;
	font-weight: 800;
}
hr.lighthr{
	border-color:white;
	max-width:50px;
}

.mouse-icon {
	margin: auto ;
	border: 2px solid #fff;
	border-radius: 16px;
	height: 40px;
	width: 24px;
	display: block;
	z-index: 10;
	opacity: 0.7;
  }
  
  .mouse-icon .wheel {
	-webkit-animation-name: drop;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	-webkit-animation-name: drop;
	animation-name: drop;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-play-state: running;
  }
  
  .mouse-icon .wheel {
	position: relative;
	border-radius: 10px;
	background: #fff;
	width: 2px;
	height: 6px;
	top: 4px;
	margin-left: auto;
	margin-right: auto;
  }
  
  @-webkit-keyframes drop {
	0% {
	  top: 5px;
	  opacity: 0;
	}
	30% {
	  top: 10px;
	  opacity: 1;
	}
	100% {
	  top: 25px;
	  opacity: 0;
	}
  }
  @keyframes drop {
	0% {
	  top: 5px;
	  opacity: 0;
	}
	30% {
	  top: 10px;
	  opacity: 1;
	}
	100% {
	  top: 25px;
	  opacity: 0;
	}
  }