body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    
    background-image: url('../image/cover1.jpg');
    

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax a{
    background: linear-gradient(rgba(80, 80, 80, 0.281) 10%, rgba(255, 255, 255, 0) 85%);
}

.parallax2 {
    /* The image used */
    background-image: url('../image/cover2.jpg');

    /* Full height */
    height: 50%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* space animate background*/
/* Header */
.large-header {

	width: 100%;
	
	background-size: cover;
	background-position: center center;
	z-index: 1;
	background-attachment: fixed;
  
    background-repeat: no-repeat;
    
}

#large-header {
	background-image: url('../image/cover1.jpg');
}



.demo-1 .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.main-title .thin {
	font-weight: 200;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 3em;
	}
}