body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    
    background-image: url('../image/cover1.jpg');
    

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax a{
    background: linear-gradient(rgba(80, 80, 80, 0.281) 10%, rgba(255, 255, 255, 0) 85%);
}

.parallax2 {
    /* The image used */
    background:url('../image/cover2.jpg');;
      background-repeat: no-repeat;
      background-size: 1000% 1000%;
      animation: gradient 15s ease infinite;
  
    background-image: url('../image/cover2.jpg');

    /* Full height */
    height: 50%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3 {
    /* The image used */
    
    background-image: url('../image/cover3.jpg');
    

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* space animate background*/
/* Header */
.large-header {

	
	
	background-size: cover;
	background-position: center center;
	z-index: 1;
	background-attachment: fixed;
  
    background-repeat: no-repeat;
    
}

#large-header {
   

	 background-image: url('../image/cover1.jpg'); 
}
@keyframes gradient { 
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
  }




@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 3em;
	}
}

.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;

    opacity: 1;
    animation-delay: 0s;
    animation: fade 3s linear;

   
}
@keyframes fade {
    0% { opacity: 0 }
    100% { opacity: 1 }
  }

